.switch-letter {
  animation: switchLetter 2s, infinite;
}
@keyframes switchLetter {
  0% {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 26px 26px;
  }
  25% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid rgb(255, 255, 255);
  }
  100% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid rgb(255, 255, 255);
  }
}

a {
  animation: tick 2.5s, backwards;
}
@keyframes tick {
  0% {
    color: rgb(255, 217, 0);
  }
  25% {
    color: white;
    opacity: 0.5;
  }
  50% {
    color: cornflowerblue;
    opacity: 1;
  }
  100% {
    color: white;
  }
}

.content-l-01.hi {
  opacity: 0;
  transform: translateX(15px);
}
@media screen and (max-width: 1200px) {
  .content-l-01.hi {
    transform: translateX(0px);
  }
}
.content-l-01.sh {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1.5s;
}
@media screen and (max-width: 1200px) {
  .content-l-01.sh {
    transform: translateX(0px);
  }
}

.content-l-01r.hi {
  opacity: 0;
  transform: translateX(15px);
}
@media screen and (max-width: 1200px) {
  .content-l-01r.hi {
    transform: translateX(0px);
  }
}
.content-l-01r.sh {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1.5s;
}
@media screen and (max-width: 1200px) {
  .content-l-01r.sh {
    transform: translateX(0px);
  }
}

.info-box.hi {
  opacity: 0;
  transition: all 1s;
}
.info-box.sh {
  opacity: 1;
  transition: all 1.5s;
}

.v-left .v-t-l-01.hi, .v-left .v-t-l-01r.hi {
  opacity: 0;
  transform: translateY(83px);
}
.v-left .v-t-l-01.sh, .v-left .v-t-l-01r.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s;
}
.v-left .v-t-l-01 p.hi, .v-left .v-t-l-01 h1.hi, .v-left .v-t-l-01r p.hi, .v-left .v-t-l-01r h1.hi {
  opacity: 0;
  transform: translateY(83px);
}
.v-left .v-t-l-01 p.sh, .v-left .v-t-l-01 h1.sh, .v-left .v-t-l-01r p.sh, .v-left .v-t-l-01r h1.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s;
}

.v-right .v-t-r-01.hi, .v-right .v-t-r-02.hi {
  opacity: 0;
  transform: translateY(83px);
}
.v-right .v-t-r-01.sh, .v-right .v-t-r-02.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s;
}
.v-right .v-t-r-01 p.hi, .v-right .v-t-r-01 h1.hi, .v-right .v-t-r-02 p.hi, .v-right .v-t-r-02 h1.hi {
  opacity: 0;
  transform: translateY(83px);
}
.v-right .v-t-r-01 p.sh, .v-right .v-t-r-01 h1.sh, .v-right .v-t-r-02 p.sh, .v-right .v-t-r-02 h1.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s;
}

.title-l-02.hi {
  opacity: 0;
  transition: all 1s;
}
.title-l-02.sh {
  opacity: 1;
  transition: all 2s;
}

.title-l-03.hi {
  opacity: 0;
  transform: translateY(83px);
}
.title-l-03.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 2s;
}

.box-cards .card-01.hi {
  opacity: 0;
  transform: translateY(183px);
}
.box-cards .card-01.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1.5s;
}
.box-cards .card-01.sh:hover {
  transform: translateY(30px);
  transition: all 1s;
}
.box-cards .card-02.hi {
  opacity: 0;
  transform: translateY(183px);
}
.box-cards .card-02.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 2s;
}
.box-cards .card-02.sh:hover {
  transform: translateY(30px);
  transition: all 1s;
}
.box-cards .card-03.hi {
  opacity: 0;
  transform: translateY(183px);
}
.box-cards .card-03.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 3s;
}
.box-cards .card-03.sh:hover {
  transform: translateY(30px);
  transition: all 1s;
}
.box-cards .card-04.hi {
  opacity: 0;
  transform: translateY(185px);
}
.box-cards .card-04.sh {
  opacity: 1;
  transform: translateY(0px);
  transition: all 3.5s;
}
.box-cards .card-04.sh:hover {
  transform: translateY(30px);
  transition: all 1s;
}

/*# sourceMappingURL=animations.css.map */
