html[data-theme=dark] body {
  background: rgb(247, 112, 15);
}
html[data-theme=dark] header {
  background: #030000;
}
html[data-theme=dark] header.scrolled {
  transition: all 1s;
  outline: 1px solid gold;
}
html[data-theme=dark] .logo-img {
  color: white;
}
html[data-theme=dark] .img-mobile {
  display: none;
  width: 55px;
  height: 50px;
}
@media screen and (max-width: 860px) {
  html[data-theme=dark] .img-mobile.dark {
    display: block;
  }
}
html[data-theme=dark] a {
  outline: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
html[data-theme=dark] a:hover {
  animation: passhover 1s both;
}
@keyframes passhover {
  0% {
    color: gray;
  }
  50% {
    color: gray;
  }
  100% {
    color: white;
  }
}
html[data-theme=dark] .innerbox {
  background: linear-gradient(91.1deg, rgb(247, 89, 42) -2.3%, rgb(247, 77, 55) 44.4%, rgb(247, 112, 15) 103.4%);
}
html[data-theme=dark] .innerbox .info-box-t .ibt-title {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html[data-theme=dark] .itens-menu.mobile-on {
  width: 168px;
  padding: 5px;
  display: block;
  top: 70px;
  right: 0;
  border: 1px solid rgb(184, 138, 43);
  position: absolute;
  background: black;
  box-shadow: 0px 0px 3px 0px;
}
html[data-theme=dark] .itens-menu.mobile-on ul, html[data-theme=dark] .itens-menu.mobile-on li, html[data-theme=dark] .itens-menu.mobile-on a {
  display: block;
  color: white;
}
html[data-theme=dark] .itens-menu.mobile-on li {
  padding: 0 0 25px;
}
html[data-theme=dark] .main {
  background: black;
}
html[data-theme=dark] .main .btn-layer {
  color: #1c293a;
}
html[data-theme=dark] .main .btn-layer:hover {
  background-color: gold;
}
html[data-theme=dark] .indicator .in-l {
  width: 50%;
  height: 100%;
  background-color: rgb(247, 112, 15);
}
html[data-theme=dark] .indicator .in-r {
  width: 50%;
  height: 100%;
  background-color: rgb(247, 112, 15);
}
html[data-theme=dark] section#layer-01 {
  background: rgb(247, 112, 15);
}
html[data-theme=dark] section#layer-01 .sub-l-01, html[data-theme=dark] section#layer-01 .sub-l-01r {
  color: white;
}
html[data-theme=dark] section#layer-01 h1.title-l-01r, html[data-theme=dark] section#layer-01 h1.title-l-01 {
  background-color: black;
}
html[data-theme=dark] section#layer-02 {
  background: #000;
}
html[data-theme=dark] section#layer-02 .title-contact {
  background: linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html[data-theme=dark] section#layer-02 .box-t-02 .title-l-02 {
  background: linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html[data-theme=dark] section#layer-02 .box-t-02 .vertical-line .v-left {
  border-right: 5px dotted rgb(247, 112, 15);
}
html[data-theme=dark] section#layer-02 .box-t-02 .vertical-line .v-left .s-02-i, html[data-theme=dark] section#layer-02 .box-t-02 .vertical-line .v-right .s-02-i {
  filter: none;
}
html[data-theme=dark] section#layer-02 .box-t-02 .vertical-line .v-left h1, html[data-theme=dark] section#layer-02 .box-t-02 .vertical-line .v-right h1 {
  background: linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html[data-theme=dark] section#layer-02 .box-t-02 .vertical-line .v-left p, html[data-theme=dark] section#layer-02 .box-t-02 .vertical-line .v-right p {
  background: linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html[data-theme=dark] section#layer-02 #layer-03 .content .content-l-03 .box-l-03 .title-l-03 {
  background: linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html[data-theme=dark] .info-box-02 .innerbox-02 {
  background: linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
}
html[data-theme=dark] .info-box-02 .innerbox-02 .info-box-t-2 .ibt-title {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=dark-Theme.css.map */
