@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Raleway:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2000px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
@media screen and (max-width: 880px) {
  body {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }
}

.app {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  z-index: 99999;
  top: 0;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
  position: fixed;
}
header.scrolled {
  background-color: rgba(255, 255, 255, 0.459);
  outline: 2px solid white;
  box-shadow: 0px 0px 3px 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1190px;
  height: 100%;
}

.nav-footer {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 880px) {
  .menu {
    margin: 0 20px;
  }
}

.itens-menu ul, .itens-menu li {
  display: inline-flex;
}
@media screen and (max-width: 880px) {
  .itens-menu ul, .itens-menu li {
    display: none;
  }
}
.itens-menu li {
  margin: 0 25px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
}
.itens-menu a {
  outline: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.itens-menu a:hover {
  color: grey;
}
.itens-menu.mobile-on {
  width: 168px;
  padding: 5px;
  display: block;
  top: 70px;
  right: 0;
  border: 1px solid white;
  position: absolute;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
  box-shadow: 0px 0px 3px 0px;
}
.itens-menu.mobile-on ul, .itens-menu.mobile-on li, .itens-menu.mobile-on a {
  display: block;
  color: white;
}
.itens-menu.mobile-on li {
  padding: 0 0 25px;
}

.btn-menu {
  display: none;
}
@media screen and (max-width: 880px) {
  .btn-menu {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
  }
  .btn-menu .bar {
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: inset 0px 1px 2px 0px;
  }
  .btn-menu .bar:after, .btn-menu .bar:before {
    content: "";
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    box-shadow: inset 0px 1px 2px 0px;
    transition: all 0.5s;
  }
  .btn-menu .bar::after {
    top: 45px;
  }
  .btn-menu .bar::before {
    top: 20px;
  }
  .btn-menu.is-open {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 3s;
  }
  .btn-menu.is-open .bar {
    width: 0px;
    height: 0px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 0px 0px;
  }
  .btn-menu.is-open .bar::after, .btn-menu.is-open .bar::before {
    box-shadow: inset 0px 0px 0px 0px;
    transition: all 0.5s;
  }
  .btn-menu.is-open .bar::after {
    top: 33px;
    transform: rotate(45deg);
  }
  .btn-menu.is-open .bar::before {
    top: 33px;
    transform: rotate(-45deg);
  }
}

.container {
  padding-top: 70px;
}

.content {
  max-width: 1190px;
  margin: 0 auto;
  height: 3000px;
  padding-top: 70px;
}

.main {
  height: 450px;
  border-bottom: 2px solid black;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
}

h1.title {
  font-family: "Raleway", sans-serif;
  font-size: 54px;
  line-height: 10px;
  color: #fff;
}

.sub0 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 34px;
}

/*# sourceMappingURL=style.css.map */
