@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Raleway:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 860px) {
  html {
    scroll-padding-top: 70px;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2000px;
  background: white;
}

.app {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  z-index: 99999;
  top: 0;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
  position: fixed;
}
header.scrolled {
  background-color: rgba(255, 255, 255, 0.459);
  outline: 2px solid white;
  box-shadow: 0px 0px 3px 0px;
  transition: all 2s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1190px;
  height: 100%;
}

.nav-footer {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 860px) {
  .menu {
    margin: 0 20px;
  }
}

a {
  text-decoration: none;
  color: white;
}
a.row-li:hover {
  color: #5fd1f9;
}

.itens-menu ul, .itens-menu li {
  display: inline-flex;
}
@media screen and (max-width: 860px) {
  .itens-menu ul, .itens-menu li {
    display: none;
  }
}
.itens-menu li {
  margin: 0 25px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
}
.itens-menu a {
  outline: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.itens-menu a:hover {
  color: grey;
}
.itens-menu.mobile-on {
  width: 168px;
  padding: 5px;
  display: block;
  top: 70px;
  right: 0;
  border-top: 2px solid white;
  border-radius: 0 0 0 12px;
  position: absolute;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
  box-shadow: 0px 0px 4px 0px white;
  transition: all 1s;
}
.itens-menu.mobile-on ul, .itens-menu.mobile-on li, .itens-menu.mobile-on a {
  display: block;
  color: white;
  transition: all 1s;
}
.itens-menu.mobile-on li {
  padding: 0 0 25px;
}

.btn-menu {
  display: none;
}
@media screen and (max-width: 860px) {
  .btn-menu {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
  }
  .btn-menu .bar {
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: inset 0px 1px 2px 0px;
  }
  .btn-menu .bar:after, .btn-menu .bar:before {
    content: "";
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    box-shadow: inset 0px 1px 2px 0px;
    transition: all 0.5s;
  }
  .btn-menu .bar::after {
    top: 45px;
  }
  .btn-menu .bar::before {
    top: 20px;
  }
  .btn-menu.is-open {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 3s;
  }
  .btn-menu.is-open .bar {
    width: 0px;
    height: 0px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 0px 0px;
  }
  .btn-menu.is-open .bar::after, .btn-menu.is-open .bar::before {
    box-shadow: inset 0px 0px 0px 0px;
    transition: all 0.5s;
  }
  .btn-menu.is-open .bar::after {
    top: 33px;
    transform: rotate(45deg);
  }
  .btn-menu.is-open .bar::before {
    top: 33px;
    transform: rotate(-45deg);
  }
}

.container {
  padding-top: 70px;
}

.content {
  max-width: 1190px;
  margin: 0 auto;
  padding: 70px 10px 0 10px;
}
@media screen and (max-width: 860px) {
  .content {
    padding: 8px;
  }
}

.main {
  height: 650px;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
}
@media screen and (max-width: 860px) {
  .main {
    height: 750px;
  }
}

h1.title {
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  line-height: 10px;
  color: #fff;
}
@media screen and (max-width: 860px) {
  h1.title {
    line-height: 70px;
    font-size: 50px;
  }
}

.sub0 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 38px;
}

.btn-layer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  border-radius: 22px;
  font-size: 22px;
  background-color: white;
  font-weight: 800;
  color: #5a92e8;
  font-family: "Quicksand", sans-serif;
}
.btn-layer:hover {
  background-color: #5a92e8;
  color: white;
}

span.sub-m-01 {
  margin-top: 50px;
}

.row-info {
  margin-top: 180px;
}
@media screen and (max-width: 1200px) {
  .row-info {
    margin-top: 130px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  .row-info {
    margin-top: 130px;
  }
}
.row-info .sub-m-01 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 500;
  color: white;
}
.row-info ul, .row-info li {
  display: flex;
  color: white;
  font-size: 25px;
  justify-content: space-between;
}
@media screen and (max-width: 860px) {
  .row-info ul, .row-info li {
    font-size: 18px;
    padding: 0;
  }
}
.row-info ul {
  margin-top: 30px;
}
.row-info li {
  font-family: "Raleway", sans-serif;
  font-size: 500;
}

section#layer-01 {
  height: 1400px;
  background: white;
  position: relative;
}
@media screen and (max-width: 860px) {
  section#layer-01 {
    height: 1600px;
  }
}
section#layer-01 .content-l-01 {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  section#layer-01 .content-l-01 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  section#layer-01 .content-l-01 {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
}
section#layer-01 h1.title-l-01 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  color: white;
  width: 260px;
  background-color: red;
}
@media screen and (max-width: 860px) {
  section#layer-01 h1.title-l-01 {
    line-height: 70px;
  }
}
section#layer-01 .sub-l-01 {
  font-size: 54px;
  margin-top: 40px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
section#layer-01 .box-l-01 {
  width: 500px;
}
@media screen and (max-width: 1200px) {
  section#layer-01 .box-l-01 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  section#layer-01 .box-l-01 {
    width: 92vw;
    margin-bottom: 20px;
  }
}
section#layer-01 .video {
  width: 620px;
  height: 350px;
  outline: 1px solid red;
}
@media screen and (max-width: 1200px) {
  section#layer-01 .video {
    width: 74vw;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  section#layer-01 .video {
    width: 90vw;
  }
}
section#layer-01 .content-l-01r {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  section#layer-01 .content-l-01r {
    margin-top: 0px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  section#layer-01 .content-l-01r {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
}
section#layer-01 h1.title-l-01r {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  color: white;
  width: 400px;
  background-color: red;
}
@media screen and (max-width: 860px) {
  section#layer-01 h1.title-l-01r {
    line-height: 70px;
    font-size: 34px;
  }
}
section#layer-01 .sub-l-01r {
  font-size: 54px;
  margin-top: 40px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
section#layer-01 .box-l-01r {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 1200px) {
  section#layer-01 .box-l-01r {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  section#layer-01 .box-l-01r {
    width: 92vw;
    margin-bottom: 20px;
  }
}
section#layer-01 .video-2 {
  width: 500px;
  height: 350px;
  outline: 1px solid red;
}
@media screen and (max-width: 1200px) {
  section#layer-01 .video-2 {
    width: 74vw;
  }
}
@media screen and (max-width: 1200px) and (max-width: 860px) {
  section#layer-01 .video-2 {
    width: 90vw;
  }
}

section#layer-02 {
  background-color: black;
}
section#layer-02 .content-l-02 {
  margin-top: 100px;
}
section#layer-02 .content-l-02 .box-t-02 .title-l-02 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line {
  display: flex;
  height: 2500px;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .box-block {
  width: 100%;
  height: 60vh;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-left, section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-right {
  width: 50%;
  background: linear-gradient(27deg, #ff00b1 -35.89%, #89e2ff 96.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-left h1, section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-right h1 {
  font-size: 40px;
  background: linear-gradient(27deg, #ff00b1 -35.89%, #89e2ff 96.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-left p, section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-right p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
  background: linear-gradient(27deg, #ff00b1 -35.89%, #ffffff 96.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-right {
  margin: 2px;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-right .box-b-r {
  width: 50%;
  height: 60vh;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-right .box-b-r-01 {
  width: 50%;
  height: 70vh;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-left {
  border-right: 5px dotted #ff00b1;
  margin: 0 30px;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-left .box-b-l {
  width: 50%;
  height: 90vh;
}
section#layer-02 .content-l-02 .box-t-02 .vertical-line .v-left .box-b-l-01 {
  width: 50%;
  height: 60vh;
}

section#layer-03 {
  height: 1000px;
  background-color: black;
}
section#layer-03 .content-l-03 {
  margin-top: 40px;
}
section#layer-03 .content-l-03 .title-l-03 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
}
section#layer-03 .content-l-03 .box-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
section#layer-03 .content-l-03 .box-cards .card-01, section#layer-03 .content-l-03 .box-cards .card-02, section#layer-03 .content-l-03 .box-cards .card-03, section#layer-03 .content-l-03 .box-cards .card-04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 1px solid red;
  width: 20%;
  margin-left: 60px;
}
section#layer-03 .content-l-03 .box-cards .card-01 {
  outline: 1px solid red;
}

/*# sourceMappingURL=style.css.map */
