@import "./beakpoints/breakpoints.scss";

.switch-letter{
    
    animation: switchLetter 2s, infinite;
    
    @keyframes switchLetter {
            0%{
                border-bottom: 2px solid black;
                border-left: 2px solid black;
                border-right: 2px solid black;
                border-radius: 0 0 26px 26px;
            }
            
            25%{
                border-bottom: 2px solid white;
                border-left: 2px solid white;
                border-right: 2px solid black;
            }
            
            50%{
                border-bottom: 2px solid white;
                border-left: 2px solid white;
                border-right: 2px solid rgb(255, 255, 255);
            }
            
            100%{
                border-bottom: 2px solid white;
                border-left: 2px solid white;
                border-right: 2px solid rgb(255, 255, 255);
                
            }
            
        }
        
}


a{
    animation: tick 2.5s, backwards;

    @keyframes tick {
        0%{
            color: rgb(255, 217, 0);
              
        }

        25%{
            color: white; 
            opacity: 0.5;
        }

        50%{
            color: cornflowerblue;
            opacity: 1;
        }
        100%{
            color: white; 
        }
    }
}

section.hi{
    // opacity: 0;
    // transition: all 2s;
}

section.sh{
    // opacity: 1;
    // transition: all 2s;
}

.content-l-01{

    &.hi{
        opacity: 0;
        transform: translateX(15px);
        
        @include medium-screen{
            transform: translateX(0px);
        }
    }

    &.sh{
        opacity: 1;
        transform: translateX(0px);
        transition: all 1.5s;

        @include medium-screen{
            transform: translateX(0px);
        }

    }
}

.content-l-02{
    &.hi{
        opacity: 0;
        transform: translateX(15px);

        @include medium-screen{
            transform: translateX(0px);
        }
    }

    &.sh{
        opacity: 1;
        transform: translateX(0px);
        transition: all 1.5s;

        @include medium-screen{
            transform: translateX(0px);
        }
    }
}


.info-box{

    &.hi{
        opacity: 0;
        transition: all 1s;
    }

    &.sh{
        opacity: 1;
        transition: all 1.5s;
    }

}

.v-left{    
    .v-t-l-01,.v-t-l-02{
        &.hi{
            opacity: 0;
            transform: translateY(83px);

        }

        &.sh{
            opacity: 1;
            transform: translateY(0px);
            transition: all 1s;
        }

        p.hi,h1.hi{
            opacity: 0;
            transform: translateY(83px);
        }
    
        p.sh,h1.sh{
            opacity: 1;
            transform: translateY(0px);
            
        }

    }
}

.v-right{
    .v-t-r-01,.v-t-r-02{

        &.hi{
            opacity: 0;
            transform: translateY(83px);

        }

        &.sh{
            opacity: 1;
            transform: translateY(0px);
            transition: all 1s;
        }

        p.hi,h1.hi{
            opacity: 0;
            transform: translateY(83px);
        }
    
        p.sh,h1.sh{
            opacity: 1;
            transform: translateY(0px);
            
        }
    }
}



