@import "./beakpoints/breakpoints.scss";


html[data-theme="dark"]{

    body{
      background: $bg_tags;
    }

    header{
        background: #030000;
        

        &.scrolled{
          transition: all 1s;
          outline:  1px solid gold;
      }

    }

    .logo-img{
      color: white;
    }

    .img-mobile{
      display: none;
      width: 55px;
      height: 50px;
      
      &.dark{
          @include small-screen{
          display: block;
        }
      }

    }
    .switch-letter{
      // filter:invert(1);
    }

    a{
      outline: none;
      text-decoration: none;
      color: rgb(255, 255, 255);

        &:hover{
            animation: passhover 1s both;

            @keyframes passhover {
                0% {
                    color: gray;
                }
                50% {
                    color: gray;
                }
                100%{
                    color: white;
                }
              }
        }
        
    }
    .innerbox{

      background: linear-gradient(91.1deg, rgb(0 0 0) -2.3%, rgb(102 3 3) 44.4%, rgb(247 112 15) 103.4%);

      .info-box-t{
        .ibt-title{
          background: #fff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

    }
    .itens-menu{
      &.mobile-on{
        width: 168px;
        padding: 5px;
        display: block;
        top: 70px;
        right: 0;
        border: 1px solid rgb(184 138 43);
        position: absolute;
        background: black;
        box-shadow: 0px 0px 3px 0px;
        
        ul, li,a{
            display: block;
            color: white;
        }

        li{
            padding: 0 0 25px;
            
        }
      }
    }

    .main{
      background: black;

      .btn-layer{
        color:#1c293a ;

        &:hover{
          background-color: gold;
        }
      }
    }

  .indicator{

      .in-l{
          width: 50%;
          height: 100%;
          clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
          background-color: $bg_tags;
      }


      .in-r{
          width: 50%;
          height: 100%;
          clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
          background-color: $bg_tags;
      }
  }
  section#layer-01{
    background: $bg_tags;

    .sub-l-01,.sub-l-01r{
      color: #ffff;
    }

    h1.title-l-01r,h1.title-l-01{
      background-color: black;
    }

  }

  section#layer-02{

    background: $background_dark;

    .title-contact{
      background: $s02_h_dark;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .box-t-02{
      .title-l-02{
          background: $s02_h_dark;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

      .vertical-line{
        .v-left{
          border-right: 5px dotted rgb(247, 112, 15);
        }

        .v-left,.v-right {
            h1{
              background: $s02_h_dark;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            p{
              background: $s02_h_dark;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }  
    }
    
    #layer-03{
      .content{
        .content-l-03{
          .box-l-03{
            .title-l-03{
              background: $s02_h_dark;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }

  .info-box-02{
    .innerbox-02{

      background: linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);

      .info-box-t-2{
        .ibt-title{
          background: #fff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
