@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "./beakpoints/breakpoints.scss";

.logo{
    display: flex;
    padding: 0 22px;
    width: 150px;
    height: 35px;
    align-items: center;
    
}

.logo-img{
    font-size: 35px;
    margin: 0 4px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: white;

    &[data-animate='stopped']::before{
        content: "U";
    }
    
    @include small-screen{
        display: none;
    }
}


.switch-letter{
    display: flex;
    width: 20px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 0 0 26px 26px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .circle{
        width: 14px;
        height: 14px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        animation: circle 5s, infinite;

            @keyframes circle {
                    0%{
                        background: rgb(0, 0, 0);
                        opacity: 1;
                    }

                    50%{
                        background: rgb(255, 255, 255);
                        opacity: 0.7;
                    }

                    100%{
                        background: rgb(0, 0, 0);
                    }
            }
    }

    &.light{
        align-items: flex-end;
        
        & .circle{
            margin: 4px;
        }

    }

    &.dark{
        align-items: flex-start;
        
        .circle{
            margin: 4px;
        }
    }

    @include small-screen{
        display: none;
        transform: rotate(90deg);
        height: 40px;   
        border-radius:26px;
        border: 2px solid white;

        .circle{
            background-color: white;
        }

        &.is-open{
            display: flex;
            order: 1;
            margin: 0 20px;
            transform: rotate(90deg);

            .circle{
                background-color: white;
            }
        }
    }

}

.img-mobile{
    display: none;
    width: 55px;
    height: 50px;

    &.light{
        @include small-screen{
            display: block;
        }
    }
}

.indicator{
    height: 38px;
    width: 100%;
    display: flex;
    background: rgba(255, 0, 0, 0);
    flex-direction: row;
    align-items: center;
    transform: translateY(-37px);

    .in-l{
        width: 50%;
        height: 100%;
        clip-path: polygon(0 0, 95% 0, 101% 100%, 0% 100%);
        background-color: rgb(255, 255, 255);
    }

    .in-r{
        width: 50%;
        height: 100%;
        clip-path: polygon(5% 0, 100% 0%, 100% 100%, -1% 100%);
        background-color: rgb(255, 255, 255);
    }
}

.info-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    transform: translateY(0px);

    .innerbox{
        width: 600px;
        height: 100px;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        border: 4px solid rgb(255, 255, 255);
        transform: translateY(60px);
        -webkit-background-clip: text;
        background: linear-gradient(91.1deg, rgb(0 196 250) -2.3%, rgb(27 67 60) 44.4%, rgb(34 0 24) 103.4%);
        
        .info-box-i{
            width: 150px;
            height: 75px;
            background: black;
            border-radius: 20px;

            .ibi-logo{
                background: black;
                color: white;
                text-align: center;
            }
        }

        .info-box-t{

            .ibt-title{
                background-color: black;
                background: linear-gradient(265.58deg, #e723ff -35.89%, #ffffff 96.06%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
            }
        }
    }


}

