@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import "./beakpoints/breakpoints.scss";

html{
    scroll-behavior:smooth;
    
    @include small-screen{
        scroll-padding-top: 70px;
    }
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;

}

.app{
    box-sizing: border-box;
    
}


header{
    width: 100%;
    height: 70px;
    z-index: 99999;
    top: 0;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
    position: fixed;
    
    &.scrolled{
        background-color: rgba(255, 255, 255, 0.459);
        outline: 2px solid white;
        box-shadow: 0px 0px 3px 0px;;
        transition: all 2s;
    }

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1190px;
    height: 100%;

}

.nav-footer{
    display: none;
}

.menu{
    display: flex;
    align-items: center;   

    @include small-screen{
        margin: 0 20px;
    }

    
}

a{
    text-decoration: none;
    color: white;

    &.row-li:hover{
        color:#5fd1f9;
    }
}

.itens-menu{
    ul, li{
        display: inline-flex;

        @include small-screen{
            display: none;
        }
    }
    
    li{
        margin: 0 25px;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        color: rgb(0, 0, 0);
    }
    
    
    a{
        outline: none;
        text-decoration: none;
        color: rgb(255, 255, 255);

        &:hover{
            color: grey;
        }
        
    }

    &.mobile-on{
        width: 168px;
        padding: 5px;
        display: block;
        top: 70px;
        right: 0;
        border-top: 2px solid white;
        border-radius: 0 0 0 12px;
        position: absolute;
        background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
        box-shadow: 0px 0px 4px 0px white;
        transition: all 1s;

        ul, li,a{
            display: block;
            color: white;
            transition: all 1s;
        }

        li{
            padding: 0 0 25px;
            
        }
    }
    
}

.btn-menu{
    display: none;

    @include small-screen{
        display: flex;
        align-items: center;
        width: 40px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);        
        transition: all 0.5s;

        .bar{
            width: 40px;
            height:5px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: inset 0px 1px 2px 0px;
            
            &:after,&:before{
                content: '';
                width:40px;
                height:5px;
                border-radius: 10px;
                background-color: #fff;
                position: absolute;
                box-shadow: inset 0px 1px 2px 0px;
                transition: all 0.5s;
            }

            &::after{
                top: 45px;
            }

            &::before{
                top: 20px;
                
            }

        }   

        &.is-open{
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) 3s;
            .bar{
                width: 0px;
                height:0px;
                border-radius: 0;
                background-color: rgba(255, 255, 255, 0);
                box-shadow: inset 0px 0px 0px 0px;
                
                
                &::after,&::before{
                    box-shadow: inset 0px 0px 0px 0px;
                    transition: all 0.5s;
                }

                &::after{
                    top: 33px;
                    transform: rotate(45deg);
                }
    
                &::before{
                    top: 33px;
                    transform: rotate(-45deg);
                }
                    
                }
    
            }
    }

}

.container{
    padding-top: 70px;
}

.content{
    max-width: 1190px;
    margin: 0 auto;
    padding: 70px 10px 0 10px;

    @include small-screen{
        padding: 8px;
    }
}

.main{
    height: 650px;
    background: $bg_main;

    @include small-screen{
        height: 750px;
    }
}

h1.title{
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
    line-height: 10px;
    color: #fff;

    @include small-screen{
        line-height: 70px;
        font-size: 50px;
    }
}

.sub0{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 38px;
}

.btn-layer{
    margin-top: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 180px;
    height: 45px;
    border-radius: 22px;
    font-size: 22px;
    background-color: white;
    font-weight: 800;
    color: #5a92e8;
    font-family: 'Quicksand', sans-serif;

    &:hover{
        background-color: #5a92e8;
        color: white;
      }

}

span.sub-m-01{
    margin-top: 50px;
}

.row-info{
    margin-top: 180px;
    @include medium-screen{
        margin-top: 130px;
        
        @include small-screen{
            margin-top: 130px;
        }
    }
    

    .sub-m-01{
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-size: 500;
        color: white;
    }

    ul,li{
        display: flex;
        color: white;
        font-size: 25px;
        justify-content: space-between;

        @include small-screen{
            font-size: 18px;
            padding: 0;
        }
    }
    ul{
        margin-top: 30px;
    }

    li{
        font-family: 'Raleway', sans-serif;
        font-size: 500;
    }
}

section#layer-01{
    height: 1400px;
    background: white;
    position: relative;
    
    @include small-screen{
        height: 1600px;
    }

    .content-l-01{
        margin-top: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        @include medium-screen{
            margin-top: 0px;

            @include small-screen{
                margin-top: 40px;
                justify-content: center;
                align-items: center;
            }
        }
        
    }

    h1.title-l-01{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 54px;
        color: white;
        width: 260px;
        background-color: red;
        

        @include small-screen{
            line-height: 70px;
        }
    }

    .sub-l-01{
        font-size: 54px;
        margin-top: 40px;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
    }

    .box-l-01{
        width: 500px;
        
        @include medium-screen{
            margin-bottom: 20px;

            @include small-screen{
                width: 92vw;
                margin-bottom: 20px;
            }
        }
    }


    .video{
        width: 620px;
        height: 350px;
        border: 16px solid #141111;
        border-radius: 0 32px;
        box-shadow: 14px 17px 12px;
        
        @include medium-screen{
            width: 74vw;

            @include small-screen{
                width: 90vw;

                border: none;
                border-radius: none;
                box-shadow: none;
            }
        }
    }

    .content-l-01r{
        margin-top: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        @include medium-screen{
            margin-top: 0px;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            
            @include small-screen{
                margin-top: 40px;
                justify-content: center;
                align-items: center;
            }
        }
        
    }

    h1.title-l-01r{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 54px;
        color: white;
        width: 400px;
        background-color: red;
        

        @include small-screen{
            line-height: 70px;
            font-size: 34px;
        }
    }

    .sub-l-01r{
        font-size: 54px;
        margin-top: 40px;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
    }

    .box-l-01r{
        width: 650px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include medium-screen{
            margin-bottom: 20px;

            @include small-screen{
                width: 92vw;
                margin-bottom: 20px;
            }
        }
    }


    .video-2{
        width: 500px;
        height: 89%;
        border: 16px solid #141111;
        border-radius: 0 32px;
        box-shadow: inset 14px 17px 12px;
        
        @include medium-screen{
            width: 74vw;

            @include small-screen{
                width: 90vw;
                border: none;
                border-radius: none;
                box-shadow: none;
            }
        }
    }



}


section#layer-02{
    background: $s02_light;

    .content-l-02{

        .box-t-02{

            @include small-screen{
                margin-top: 150px;
            }

            .title-l-02{
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                font-size: 52px;    
                font-weight: 600;
                font-family: 'Quicksand', sans-serif;
            }

            .vertical-line{
                display:flex;
                height: 2500px;

                .box-block{
                    width: 100%;
                    height: 60vh;
                }

                .v-left,.v-right{
                    width: 50%;
                    background: $s02_h_light;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    .s-02-i{
                        filter: sepia(100%)contrast(100)grayscale(100%);
                    }

                    h1{
                        font-size: 40px;
                        background: $s02_h_light;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: 'Raleway', sans-serif;
                        font-weight: bold;

                        @include small-screen{
                            font-size: 30px;
                        }
                    }

                    p{
                        font-family: 'Raleway', sans-serif;
                        font-weight: 600;
                        font-size: 22px;
                        background: $s02_p_light;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @include small-screen{
                            font-size: 18px;
                        }
                    }
                }

                .v-right{
                    margin: 2px;

                    .box-b-r{
                        width: 50%;
                        height: 60vh;
                    }

                    .box-b-r-01{
                        width: 50%;
                        height: 70vh;
                    }   
                }

                .v-left{
                    border-right: 5px dotted #fff;
                    margin: 0 30px;
                    
                    .box-b-l{
                        width: 50%;
                        height: 90vh;
                    }

                    .box-b-l-01{
                        width: 50%;
                        height: 60vh;
                    }

                }
            }
        }

    }


}

div#layer-03{
    height: 1863px;

    @include small-screen{
        height: 3000px;
    }
    .title-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
        font-size: 40px;
        margin-top: 200px;
        color: #fff;
    }

    .content-l-03{
        margin-top: 40px;

        .title-l-03{
            display: flex;
            color: $s02_h_light;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-family: 'Quicksand', sans-serif;
            font-size: 40px;
        }

        .box-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-top: 180px;
            height: 100%;
            color: white;
            flex-direction: row;
            
            
            @include small-screen{
                margin-top: 120px;
                height: 2036px;
                align-content: center
            }

            .card-01,.card-02,.card-03,.card-04{
                display: flex;
                height: 400px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // box-shadow: 15px 10px 0px 0px #787272;
                border-radius: 0 20px;
                width: 250px;
                
                @include small-screen{
                    margin-left: 0;
                    margin-bottom: 100px;
                }

                h1{
                    font-size: 32px;
                    font-family: 'Quicksand';
                }

                p{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 22px;
                }
            }

            .card-01{
                background: $card01;
                box-shadow: 0 0 6px 4px #fff, 0 0 10px 0px #0d0d54, 0 0 10px 8px #ff0091;
            }

            .card-02{
                background: $card02;
                box-shadow: 0 0 6px 4px #fff, 0 0 10px 0px #0000ff, 0 0 10px 8px #00ffff;
            }

            .card-03{
                background: $card03;
                box-shadow: 0 0 6px 4px #fff, 0 0 10px 0px #00ff5a, 0 0 14px 8px #0cff00bd;
            }

            .card-04{
                background: $card04;
                box-shadow: 0 0 6px 4px #fff, 0 0 10px 0px #ff0000, 0 0 14px 8px #ffe700;
            }
            
        }
    }

}


footer{

    height: 80px;

    .fte-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .fte-container-in{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1190px;
            height: 100%;

            @include small-screen{
                padding: 0 20px;
                justify-content: space-around;
            }

            img{
                max-width: 88px;
                height: 60px;
            }
        }
    }
}



.vi-bg{
    width: 100%;
    height: 100%;
    box-shadow: inset 14px 17px 12px;

    @include small-screen{
        border: none;
        border-radius: none;
        box-shadow: none;
    }

}


.vi-bg-2{
    width: 100%;
    height: 100%;
    box-shadow: inset 14px 17px 12px;

    @include small-screen{
        border: none;
        border-radius: none;
        box-shadow: none;
    }

}