$small: 860;
$medium: 1200;
$large:1900;

$bg_tags:rgb(247 112 15);
$btn_dark: white;
$btn_light:black;
$title_light:black;
$title_dark:white;
$background_dark: #000;
$background_light:dark;
$bg_main:radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
$bg_section02:white;
$s02_light:radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);;
$s02_dark:#0000;
$s02_p_light:#fff;
$s02_p_dark:linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
$s02_h_light:#fff;
$s02_h_dark:linear-gradient(110.4deg, rgb(247, 112, 15) 6.4%, rgb(248, 50, 88) 100.2%);
$card01:linear-gradient(45deg, #0d0d54, #ff0091);
$card02:linear-gradient(45deg, #0000ff, cyan);
$card03:linear-gradient(327deg, #020202, #00ff5a);
$card04:linear-gradient(223deg, #ff0000, #ffe700);

@mixin small-screen {
    @media screen and (max-width: (($small)+"px")) {
      @content;
    }
}

@mixin medium-screen {
  @media screen and (max-width: (($medium)+"px")) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (max-width: (($medium)+"px")) {
    @content;
  }
}