$small: 860;
$medium: 1200;
$large:1900;

$btn_dark: white;
$btn_light:black;
$title_light:black;
$title_dark:white;
$background_dark: light;
$background_light:dark;
$bg_main:radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) -59%, rgb(95, 209, 249) 100.2%);
$bg_section02:white;

@mixin small-screen {
    @media screen and (max-width: (($small)+"px")) {
      @content;
    }
}

@mixin medium-screen {
  @media screen and (max-width: (($medium)+"px")) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (max-width: (($medium)+"px")) {
    @content;
  }
}